<p style="color: green"><%= notice %></p>

<h1><%= Coin.model_name.human(count: @coins.count)%>  </h1>
<div class="container-fluid">
<div class="row">
<div id="coins">
  <% @coins.each do |coin| %>
    <%= render coin %>
    <p>
      <%= link_to t('links.show'), coin, class:"btn btn-outline-primary" %>
      
    </p>
  <% end %>
</div>
</div>
</div>


<%= link_to t('new.coin'), new_coin_path, class:"btn btn-primary" %>



