<p style="color: green"><%= notice %></p>

<%= render @coin %>

<div>
  <td><%= link_to "Editar", edit_coin_path(@coin) %></td> |
  <td><%= link_to "Voltar", coins_path %></td>
  <td><%= button_to "Apagar", @coin, method: :delete %></td>
</div>
